MINIFLUX_POLL_INTERVAL=60
MINIFLUX_URL=https://miniflux.example.com/
MINIFLUX_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

TELEGRAM_BOT_TOKEN=0123456789:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_CHAT_ID=123456789

# Possible values are: memory, sqlite
#MINIFLUX_STORE_BACKEND=sqlite
#MINIFLUX_SQLITE_STORE_PATH=/data
